<?xml version="1.0"?>
<robot name="camera_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.urdf.xacro" />

    <xacro:arg name="package_name" default="camera_description" />
    <xacro:arg name="mesh_dir" default="meshes" />

    <xacro:property name="global_scale" value="1.0" />

    <!-- Base -->
    <xacro:property name="base_mesh" value="base.STL" />
    <xacro:property name="base_scale" value="${global_scale} ${global_scale} ${global_scale}" />
    <xacro:property name="base_visual_xyz" value="0 0 0" />
    <xacro:property name="base_visual_rpy" value="0 0 0" />

    <!-- cuerpo en u -->
    <xacro:property name="body_u_mesh" value="cuerpo_u.STL" />
    <xacro:property name="body_u_scale" value="${global_scale} ${global_scale} ${global_scale}" />
    <xacro:property name="body_u_xyz" value="0 0 0.045" />
    <xacro:property name="body_u_rpy" value="0 0 0" />
    <xacro:property name="body_u_visual_xyz" value="0 0 0" />
    <xacro:property name="body_u_visual_rpy" value="0 0 0" />
    <xacro:property name="body_u_axis" value="0 0 1" />

    <!-- cuerpo camara -->
    <xacro:property name="camera_lens_mesh" value="lente_v3.STL" />
    <xacro:property name="camera_lens_scale" value="${global_scale} ${global_scale*0.85} ${global_scale*0.85}" />
    <xacro:property name="camera_lens_xyz" value="0 0.03 0.085" />
    <xacro:property name="camera_lens_rpy" value="0 0 0" />
    <xacro:property name="camera_lens_axis" value="1 0 0" />
    <xacro:property name="camera_lens_visual_xyz" value="0 0 0" />
    <xacro:property name="camera_lens_visual_rpy" value="0 0 1.5708" />


    <!-- Macros auxiliares -->
    <!-- Link tipo base -->
    <xacro:macro name="mesh_link_base" params="name mesh scale">
        <link name="${name}">

            <visual>
                <origin xyz="${base_visual_xyz}" rpy="${base_visual_rpy}" />
                <geometry>
                    <mesh filename="package://$(arg package_name)/$(arg mesh_dir)/${mesh}"
                        scale="${scale}" />
                </geometry>
                <material name="white" />
            </visual>

        </link>
    </xacro:macro>

    <xacro:macro name="mesh_link_sphere" params="name mesh scale">
        <link name="${name}">

            <visual>
                <origin xyz="${camera_lens_visual_xyz}" rpy="${camera_lens_visual_rpy}" />
                <geometry>
                    <mesh filename="package://$(arg package_name)/$(arg mesh_dir)/${mesh}"
                        scale="${scale}" />
                </geometry>
                <material name="white" />
            </visual>

        </link>
    </xacro:macro>


    <!-- Instancia de Macros-links -->
    <!-- Frame de proyección en el suelo -->
    <link name="base_footprint" />

    <xacro:mesh_link_base
        name="base_link"
        mesh="${base_mesh}"
        scale="${base_scale}" />

    <xacro:mesh_link_base
        name="body_u_link"
        mesh="${body_u_mesh}"
        scale="${body_u_scale}" />


    <xacro:mesh_link_sphere
        name="camera_lens_link"
        mesh="${camera_lens_mesh}"
        scale="${camera_lens_scale}" />

    <!-- Joints -->
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <joint name="body_u_joint" type="continuous">
        <parent link="base_link" />
        <child link="body_u_link" />
        <origin xyz="0 0 0.045" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>

    <joint name="camera_lens_joint" type="revolute">
        <origin xyz="${camera_lens_xyz}" rpy="${camera_lens_rpy}" />
        <parent link="body_u_link" />
        <child link="camera_lens_link" />
        <axis xyz="${camera_lens_axis}" />
        <limit lower="-0.5236" upper="1.5708" effort="5.0" velocity="5.24" />
    </joint>


</robot>